<a href="https://colab.research.google.com/github/kimsang-kyu/daejeon_bigdata/blob/main/daejeon_toilet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
df=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/seogu_2.csv',encoding='cp949')

In [ ]:
df.head()

   Unnamed: 0     구분     화장실명                   주소        lat         lon
0           0  공중화장실   둔지미공원1     대전광역시 서구 둔산동 956  36.357134  127.375491
1           1  공중화장실   둔지미공원2    대전광역시 서구 둔산동 1375  36.356921  127.379813
2           2  공중화장실  뒤뜰어린이공원  대전광역시 서구 갈마동 295-17  36.352691  127.366307
3           3  공중화장실     들말공원    대전광역시 서구 가장동 40-6  36.329475  127.384277
4           4  공중화장실     만년공원     대전광역시 서구 만년동 157  36.366657  127.374160

In [ ]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 4.0MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 36.4MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 209kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting click<8,>=4.0
  Downloading https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl (82kB)
     |████████████████████████████████| 92kB 7.8MB/s
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Installing collected packages: pyproj, munch, click, click-plugins, cligj, fiona, geopandas
  Found existing installation: click 8.0.0
    Uninstalling click-8.0.0:
      Successfully uninstalled click-8.0.0
Successfully installed click-7.1.2 click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [ ]:
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
df['geometry'] = df.apply(lambda row : Point([row['lon'], row['lat']]), axis=1)
df = gpd.GeoDataFrame(df, geometry='geometry')

In [ ]:
df_geojson = gpd.GeoDataFrame(df)
df_geojson.to_file('seogu_daejeon.geojson', driver='GeoJSON')

In [ ]:
donggu = gpd.read_file('/content/gdrive/MyDrive/Colab Notebooks/donggu_use.geojson')
junggu = gpd.read_file('/content/gdrive/MyDrive/Colab Notebooks/junggu_use.geojson')
yusung = gpd.read_file('/content/gdrive/MyDrive/Colab Notebooks/yusung_use.geojson')
daeduck = gpd.read_file('/content/gdrive/MyDrive/Colab Notebooks/daeduck_use.geojson')

In [ ]:
junggu.head(1)
junggu['Gu'] = '중구'

In [ ]:
junggu.head()

       t_name                    geometry  Gu
0     신채호선생생가  POINT (127.41013 36.23243)  중구
1    중촌 게이트볼장  POINT (127.40767 36.34325)  중구
2      농촌테마마을  POINT (127.40786 36.27823)  중구
3  으능정이고객지원센터  POINT (127.42854 36.32711)  중구
4  대전천변 공중화장실  POINT (127.42985 36.32810)  중구

In [ ]:
yusung.head(1)
yusung['Gu'] = '유성구'

In [ ]:
daeduck.head(1)
daeduck['Gu'] = '대덕구'

In [ ]:
df_geojson.head(2)

   Unnamed: 0     구분    화장실명  ...        lat         lon                    geometry
0           0  공중화장실  둔지미공원1  ...  36.357134  127.375491  POINT (127.37549 36.35713)
1           1  공중화장실  둔지미공원2  ...  36.356921  127.379813  POINT (127.37981 36.35692)

[2 rows x 7 columns]

In [ ]:
seogu = df_geojson[['화장실명','geometry']]
seogu.head(1)

     화장실명                    geometry
0  둔지미공원1  POINT (127.37549 36.35713)

In [ ]:
seogu.columns = ["t_name", "geometry"]
seogu.head(1)
seogu['Gu'] = '서구'

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [ ]:
seogu.head()

    t_name                    geometry  Gu
0   둔지미공원1  POINT (127.37549 36.35713)  서구
1   둔지미공원2  POINT (127.37981 36.35692)  서구
2  뒤뜰어린이공원  POINT (127.36631 36.35269)  서구
3     들말공원  POINT (127.38428 36.32947)  서구
4     만년공원  POINT (127.37416 36.36666)  서구

In [ ]:
donggu.head(1)
donggu['Gu'] = '동구'

In [ ]:
daejeon_toilet = pd.concat([donggu,seogu,junggu,yusung,daeduck])

In [ ]:
daejeon_toilet

                 t_name                    geometry   Gu
0             삼성시장/개선공사  POINT (127.43124 36.33744)   동구
1                  삼성시장  POINT (127.05777 37.51004)   동구
2                  삼성시장  POINT (127.42573 36.33764)   동구
3   저소득층밀집지역/개선공사(2017)  POINT (127.43236 36.34564)   동구
4              저소득층밀집지역  POINT (127.43788 36.32386)   동구
..                  ...                         ...  ...
71              계족산 등산로  POINT (127.32627 36.24007)  대덕구
72            길치근린공원(1)  POINT (127.45901 36.35667)  대덕구
73            길치근린공원(2)  POINT (127.45788 36.35643)  대덕구
74                   덕골  POINT (128.89530 35.23649)  대덕구
75               남경마을입구  POINT (127.43639 36.44831)  대덕구

[338 rows x 3 columns]

In [ ]:
daejeon_toilet['Gu'].value_counts()

서구     95
유성구    80
대덕구    76
동구     49
중구     38
Name: Gu, dtype: int64

In [ ]:
daejeon_toilet = gpd.GeoDataFrame(daejeon_toilet)
daejeon_toilet.to_file('daejeon_toilet.geojson', driver='GeoJSON')