<a href="https://colab.research.google.com/github/kimsang-kyu/daejeon_bigdata/blob/main/daejeon_park_drop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 4.1MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/9c/fc/9807326c37a6bfb2393ae3e1cca147aa74844562c4d5daa782d6e97ad2bc/Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4MB)
     |████████████████████████████████| 15.4MB 271kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/1d/1c54c672c2faf08d28fe78e15d664c048f786225bef95ad87b6c435cf69e/pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6MB)
     |████████████████████████████████| 6.6MB 22.7MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/73/86/43fa9f15c5b9fb6e82620428827cd3c284aa933431405d1bcf5231ae3d3e/cligj-0.7.2-py3-none-any.whl
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (56.1.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Installing collected packages: cligj, munch, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [ ]:
#module
import geopandas as gpd
import pandas as pd

In [ ]:
#mount drive
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
df=gpd.read_file('/content/gdrive/MyDrive/df_parkpolygon.geojson',encoding='cp949') 
#df_drop = pd.read_csv('/content/gdrive/MyDrive/df_drop.csv',encoding='cp949')

In [ ]:
df.head()

   index          num  ...    id                                           geometry
0      0  30110-00033  ...  None  MULTIPOLYGON (((127.46436 36.27892, 127.46444 ...
1      1  30110-00034  ...  None  MULTIPOLYGON (((127.46972 36.27858, 127.46983 ...
2      2  30110-00048  ...  None  MULTIPOLYGON (((127.44913 36.33669, 127.44898 ...
3      3  30110-00057  ...  None  MULTIPOLYGON (((127.46629 36.27138, 127.46668 ...
4      4  30110-00058  ...  None  MULTIPOLYGON (((127.46718 36.27546, 127.46704 ...

[5 rows x 24 columns]

In [ ]:
df_drop.head(3)

   index          num  ... prov_name                       geometry
0      0  30110-00033  ...  대전광역시 동구   POINT (127.464941 36.278667)
1      1  30110-00034  ...  대전광역시 동구   POINT (127.470149 36.278374)
2      2  30110-00048  ...  대전광역시 동구  POINT (127.4491996 36.336528)

[3 rows x 21 columns]

In [ ]:
df_a = df_drop[(df_drop['type'] == '어린이공원') |(df_drop['type'] == '소공원') ]
df_a['type'].value_counts()

어린이공원    261
소공원       41
Name: type, dtype: int64

In [ ]:
df_b = df_drop[(df_drop['type']!='어린이공원') & (df_drop['type']!='소공원') & (df_drop['p_area']<=10000)]
df_b['type'].value_counts()

문화공원    6
근린공원    3
기타      2
수변공원    1
Name: type, dtype: int64

In [ ]:
df_c = df_drop[(df_drop['p_area']>=10000) & (df_drop['type']!='어린이공원') & (df_drop['type']!='소공원')]
df_c['type'].value_counts()

근린공원    72
체육공원     9
수변공원     5
문화공원     4
역사공원     1
묘지공원     1
Name: type, dtype: int64

In [ ]:
print('a : ', df_a.shape, 'b : ',df_b.shape, 'c : ',df_c.shape, 'sum : ', df_a.shape[0]+df_b.shape[0]+df_c.shape[0])

a :  (302, 21) b :  (12, 21) c :  (92, 21) sum :  406

In [ ]:
df.to_csv('df_polygon.csv', index=False, encoding='cp949')
#df_b.to_csv('df_b.csv', index=False, encoding='cp949')
#df_c.to_csv('df_c.csv', index=False, encoding='cp949')